/*general styling */
*,
*:after,
*:before {
  box-sizing: border-box;
}

/*base style rules */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}

p {
  margin: 0 0 16px;
}

p:last-child {
  margin-bottom: 0;
}

section {
  margin-bottom: 32px;
}

section h2 {
  margin: 0 0 12px;
}

a:hover {
  font-weight: bold;
}

.nav-link {
  color: black;
}

.project-link {
  color: rgba(0, 0, 0, 0.57);
  font-size: 14px;
}
/*nav bar styling */
.nav-bar {
  background-color: white;
  overflow: hidden;
  color: black;
  height: 60px;
  padding: 0 30px;
}
.title {
  float: left;
  margin: 0;
  line-height: 60px;
}

.nav-list {
  float: right;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  line-height: 60px;
  text-transform: capitalize;
  font-size: 14px;
  margin: 0 10px;
}

.nav-icon {
  width: 60px;
  padding: 10px;
}

/*styling hero shot*/

.landing-page-container {
  background: black;
  overflow: hidden;
  background-image: url('../images/carol.png');
}


.about-me {
  float: right;
  width: 50%;
  height: 650px;
  padding: 200px 0;
}

.bio {
  padding-left: 100px;
  color: white;
  margin: 10px 0 70px 0;
}

.name {
  color: white;
  padding-left: 100px;
  font-size: 56px;
  margin: 0;
}

.social-list {
  margin: 0;
  padding-left: 100px;

}

.social-item {
  list-style: none;
  color: white;
  border: 1px solid white;
  padding: 10px 40px;
  display: inline;
  margin-right: 16px;

}
a {
  text-decoration: none;
  color: white;
}

/*about me page */

.about-me-page {
  overflow: hidden;
  background-color: #F3F3F3;
}
.about {
  color: rgba(0, 0, 0, 0.87);
  font-size: 28px;
  margin: 8px 0;
}

.about-me-description {
  padding: 50px;
  float: right;
  width: 65%;
}

.cartoon {
  float: left;
  width: 35%;
  padding-left: 150px;
  padding-top: 80px;

}

.carol-yao {
  width: 165px;
}
.description {
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
}

/*project styles - image to the right*/


.date {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.tools {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.project {
  margin-top: 3px;
  height: 350px;
  background: #F3F3F3;
}

.project-name {
  color: rgba(0, 0, 0, 0.87);
  font-weight: light;
  overflow: hidden;
  font-size: 28px;
  margin: 0;

}

.project-info {
  float: left;
  width: 50%;
  margin: 0;
  padding: 50px;
}

.project-description {
  margin: 10px 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

.project-image {
  float: right;
  margin: 0;
  width: 50%;

}

.gb-img {
  width: 550px;
}
/*project styles image to the left */
.project-2 {
  margin-top: 3px;
  height: 350px;
  background: #F3F3F3;
}

.project-name-2 {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-weight: light;
  overflow: hidden;
  font-size: 28px;
}

.project-info-2 {
  float: right;
  width: 50%;
  margin: 0;
  padding: 50px;
}

.project-description-2 {
  margin: 10px 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

.project-image-2 {
  float: left;
  margin: 0;
  width: 50%;
}

/*footer */

footer {
  overflow: hidden;
  background: white;
  height: 50px;
  padding: 0 10px;
  margin-top: 1px;
}
.copyright {
  float: left;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);;
  font-size: 12px;
  line-height: 50px;
  padding-right: 15px;
}

.social-links {
  float: right;
  margin: 0;
  padding: 0 0 15px 0;
  font-size: 12px;
}

.social {
  display: inline;
  padding: 0 10px;
  line-height: 50px;
}

a {
  color: white;
  text-decoration: none;
}

.footer-link {
  color: rgba(0, 0, 0, 0.87);
}

/*project images */

.crm, .seat-yourself {
  height: 308px;
  margin-top: 20px;
  margin-left: 55px;

}

#seatyourself {
  background-image: url('../images/sy-bg.png');
}

#seatyourself-description {
  background-color: rgba(255, 255, 255, 0.54);
}

#grocerybuddy {
  background-image: url('../images/gb-bg.png');
}
#grocerybuddy-description {
  background-color: rgba(255, 255, 255, 0.54);
}
