@import 'https://fonts.googleapis.com/css?family=Raleway';
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
  font-family: 'Raleway', sans-serif;
  background-color: #F0F1F3;
}
body {
    /*padding-top: 70px;*/
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-nav {
  float: right;
}
.navbar {
  background-color: transparent;
  border: none;
  position: absolute;
  padding: 16px 24px 0 24px;
}

/*nav bar links */
.navbar-inverse .navbar-text {
  color: #002331;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  font-weight: bolder;
  background-color: transparent;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
  font-size: 15px;
}

/*logo */

.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  font-weight: bolder;
  font-size: 19px;
}


/*responsive button */
.navbar-inverse .navbar-toggle {
  border: none;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: rgba(0,0,0,0.15)
}


/*hero */


.hero {
  background-image: url(../assets/background.svg);
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;

}

.introduction {
  padding: 144px 0;
}
.intro {
  letter-spacing: 2.22px;
  font-size: 64px;
  margin: 76px 0 0 0;
  color: rgba(256,256,256,0.9);
  font-family: 'Lobster';
}
.intro-subheading {
  letter-spacing: 2.22px;
  font-size: 36px;
  color: rgba(256,256,256,0.9);
  font-family: 'Lobster';
  margin: 24px 0 48px 0;
}

.small-heading {
  color: rgba(256,256,256,0.9);
  margin-top: 32px;
  margin-bottom: 16px;
}

i {
  margin: 0 8px;
  color: white;

}

i:hover {
  color: #FB5F8E;
}
/* ABOUT */
.about {
  background-color: ;
  background: linear-gradient(180deg, #E493ED,#7AA0ED);
  margin: 0 auto;
  max-width: 1900px;
  height: 100vh;
  font-size: 16px;
  padding: 0 76px;
}

.profile-pic {
  width: 200px;
  margin: 120px 0 0 150px;
}
.about-me {
  font-size: 20px;
  margin-top: 56px;
  color: white;
}

.about-me-description {
  margin-top: 88px;
  color: white;
}

/* PROJECTS */

/* all project stylings*/
.projects {
  margin: 0 auto;
  max-width: 1440px;
  height: 100vh;
  color: #F0F1F3;
}

.project-information {
  margin-top: 112px;
  padding-right: 36px;

}
.project-title {
  font-size: 48px;
}

.project-details {
  font-size: 16px;
  margin-left: 8px;
  opacity: 0.7;
}
.project-description-title {
  font-size: 20px;
  margin-left: 8px;
  letter-spacing: 2px;
}
.project-description {
  font-size: 14px;
  margin-left: 8px;
  letter-spacing: 1.4px;
}
.project-tools-title {
  font-size: 20px;
  margin-left: 8px;
  letter-spacing: 2px;
}
.project-tools {
  font-size: 14px;
  margin-left: 8px;
  letter-spacing: 1.4px;
}

button {
  background-color: transparent;
  color: #F0F1F3;
  border: 1px solid #F0F1F3;
  border-radius: 2px;
  letter-spacing: 1.4px;
  font-size: 16px;
  padding: 8px 36px;
  margin: 16px 0 0 8px ;
}

button:hover {
  background-color: #F0F1F3;
  border: 2px solid #F0F1F3;
  color: #E12B56;
}
/* individual project styling */
.project-1 {
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/2.png);
}

#remindr-logo {
  font-family: 'Lobster', 'Roboto', sans-serif;
  letter-spacing: 4px;
}


.project-2 {
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../assets/3.png);
}

.project-3 {
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../assets/1.png);
}

.project-4 {
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../assets/4.png);
}









/*footer */

.social-media-link {
  display: inline-block;
  color: #002331;
  float: left;
  margin: 16px;
}

.copyright {
  display: inline-block;
  color: #002331;
  float: right;
  margin: 16px;
}

.social-media-link:hover {
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 1px solid #002331;
}
/* media queries*/

/* small device */

@media (max-width: 500px) {
  .navbar-nav {
    float: none;
    display: inline-block;
  }
  .row {
    height: 400px;
  }
}

@media (max-width: 665px) {

  .footer {
    display: none;
  }
}


@media (max-width: 767px) {
  .navbar-nav {
    float: none;
    display: inline-block;
  }

  .navbar {
    background-color: rgba(0,0,0,0.2);
    border: none;
    position: absolute;
    padding: 16px 24px 0 24px;
  }

  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
    border-bottom: none;
    color: rgba(0,0,0,0.8);
  }
}

/* IPAD */
@media (min-width: 768px) {
  .container {
    width: 100%;
  }

}

/* LAPTOPS */
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
